body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #f2f2f2;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}



.navbar {
    background-color: #f2f2f2;
}

html, body {
    height: 100%;
}

.nav li a {
    color: black;
    font-family: oswald;
    font-size: 1.6em;
}

.navbar-brand {
    font-weight: bolder;
    color: black;
    font-size: 2em;
}

.main-img {
    border: solid 3px black;
    max-width: 100%;
    border-radius: 4px;
}

.stock-img {
    max-width: 100%;
    border-radius: 6px;
}

.description {
    color: #584c40;
}

.description h1 {
    margin-top: 40px;
}

.more-info {
    margin-top: 40px;
    font-family: montserrat;
}

.more-info h3 {
    color: #005cb9;
}

.description p {
    font-size: 1.2em;
}

.foreground {
    background-color: white;
    box-shadow: 3px 3px 2px 2px #d9d9d9;
    padding: 30px;
    margin-top: 50px;
}

.sign-up {
    width: 40%;
    margin: 0 auto;
    padding: 70px;
    margin-top: 50px;
}

.member-list {
    display: flex;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between;
    margin-top: 40px;
}

.member-card {
    width: 230px;
}

.subscribers-btn {
    margin-top: 10px;
}